@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
        }
    100% {
      transform: translateY(0);
    }
  }

  body{
      background-image: url(../images/trivia-papper-background-illustration-vector.jpg);
      background-attachment: fixed;
        background-size: 100% auto;
        height: 1000px;
  }
  
  .btn-primary {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    
    /* background: #333; */
    padding: 10px;
    width: 100%;
  }
  
  /* Added for aesthetics */ 
  
  /* body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;} */

  #instructions{
      font-size: 1.5rem;
  }
  #mainContainer{
      background-color: white;
      padding: 20px;
  }
  #timeDisplay{
    float: right;
  }